/* Spongebob theme */

.bg {
  background-image: url('assets/images/spongebob-background.jpg');
}

.title {
  font-family: spongeboy_me_bobregular;
  color: rgb(248, 237, 86);
  text-shadow: 0.2vw 0.2vw 0.2vw #000;
  font-size: 6vw;
}

.goAgain {
  font-family: spongeboy_me_bobregular;
  color: rgb(248, 237, 86);
  text-shadow:
  0.05em 0.03em 0 #000,
  -.01em -.01em 0 #000,
  .01em -.01em 0 #000,
  -.01em .01em 0 #000,
  .01em .01em 0 #000;
  width: 100%;
  text-align: left;
  font-size: 4rem;
  min-height: 0;
}

.img {
  background-image: url('assets/images/spongebob-and-patrick.png');
}

.stats {
  font-family: 'spongeboy_me_bobregular';
  color: rgb(248, 237, 86);
  background-color: rgba(101, 226, 240, .8);
}

.font {
  font-size: 2vw;
  font-family: 'spongeboy_me_bobregular';
  color:rgb(248, 237, 86);
  text-shadow: 0.1vw 0.1vw 0.1vw #000
}

.card-back {
  background-image: url('assets/images/spongebob-squareface.jpg');
  background-size: cover;
}

.gif {
  background-image: url('assets/images/spongebob-rainbow.gif');
}
