/* Spongebob theme */

.bg {
  background: url('assets/images/spongebob-background.jpg');
}

.title {
  font-family: spongeboy_me_bobregular;
  color: rgb(248, 237, 86);
  text-shadow:
     .05em  3px 0 #000,
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.goAgain {
  font-family: spongeboy_me_bobregular;
  color: rgb(248, 237, 86);
  text-shadow: .05em  3px 0 #000,
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
  width: 100%;
  text-align: left;
  font-size: 4rem;
  min-height: 0;
}

.img {
  background-image: url('assets/images/spongebob-and-patrick.png');
}

.stats {
  font-family: 'spongeboy_me_bobregular';
  color: rgb(248, 237, 86);
  text-shadow:
     .05em  3px 0 #000,
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
  background-color: rgba(101, 226, 240, .8);
}

.font {
  font-size: 1.5em;
  font-family: 'spongeboy_me_bobregular';
  color:rgb(248, 237, 86);
  text-shadow: .05em  3px 0 #000,
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.card-back {
  background-image: url('assets/images/spongebob-squareface.jpg');
  background-size: cover;
  border: 2px solid black;
}

.-gif {
  background-image: url('assets/images/spongebob-rainbow.gif');
}
