@font-face {
  font-family: 'spongeboy_me_bobregular';
  src: url('fonts/spongeboy_me_bob-webfont.woff2') format('woff2'),
        url('fonts/spongeboy_me_bob-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'flange_bqbold';
  src: url('fonts/flange_bq_bold.woff2') format('woff2'),
        url('fonts/flange_bq_bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'prehistoric_cavemanregular';
    src: url('fonts/prehistoriccaveman-prj7.woff2') format('woff2'),
         url('fonts/prehistoriccaveman-prj7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pwchalkmedium';
    src: url('fonts/pwchalk.woff2') format('woff2'),
         url('fonts/pwchalk.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pokemon_hollownormal';
    src: url('fonts/pokemon_hollow.woff2') format('woff2'),
         url('fonts/pokemon_hollow.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pokemon_solidnormal';
    src: url('fonts/pokemon_solid.woff2') format('woff2'),
         url('fonts/pokemon_solid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*CSS applied to all Themes*/

#sponge-again, #thomas-again, #dino-again, #pokemon-again {
  width: 100px;
  height: 100px;
  min-height: 100px;
  margin: 0;
}

.spongebob, .dino, .thomas, .pokemon{
  height: 100%;
  width: 25%;
  max-width: 300px;
  min-height: 300px;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 2%;
  margin-right: 2%;
  border: none;
  border-radius: 6px;
}

#toSpongebob, #toDino, #toThomas, #toPokemon {
  width: 25%;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.spongebob:hover, .dino:hover, .thomas:hover, .pokemon:hover {
  transform: translate(3px, 3px);
}

#toSpongebob:hover, #toDino:hover, #toThomas:hover, #toPokemon:hover {
  transform: translateY(5px);
}

/* Spongebob theme */

.spongebob-bg {
  background: url('assets/images/spongebob-background.jpg');
}

.spongebob-title {
  font-family: spongeboy_me_bobregular;
  color: rgb(248, 237, 86);
  text-shadow:
     .05em  3px 0 #000,
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.spongebob-again {
  font-family: spongeboy_me_bobregular;
  color: rgb(248, 237, 86);
  text-shadow: .05em  3px 0 #000,
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
  width: 100%;
  text-align: left;
  font-size: 4rem;
  min-height: 0;
}

.spongebob-img {
  background-image: url('assets/images/spongebob-and-patrick.png');
}

#toSpongebob {
  background-image: url('assets/images/spongebob-squareface.jpg');
}

.spongebob-stats {
  font-family: 'spongeboy_me_bobregular';
  color: rgb(248, 237, 86);
  text-shadow:
     .05em  3px 0 #000,
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
  background-color: rgba(101, 226, 240, .8);
}

.sponge-font {
  font-size: 1.5em;
  font-family: 'spongeboy_me_bobregular';
  color:rgb(248, 237, 86);
  text-shadow: .05em  3px 0 #000,
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.spongebob-back {
  background-image: url('assets/images/spongebob-squareface.jpg');
  background-size: cover;
  border: 2px solid black;
}

.spongebob {
  background-image: url('assets/images/spongebob-squareface.jpg');
  background-color: rgb(255, 215, 52);
}

.spongebob-gif {
  background-image: url('assets/images/spongebob-rainbow.gif');
}

/* Thomas Theme */
.thomas-bg {
  background: url('assets/images/thomas-background.jpg');
}

.thomas-title {
  font-family: flange_bqbold;
  color: rgb(239, 12, 37);
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

.thomas-img {
  background-image: url('assets/images/thomas.png');
  background-position: center;
}

.thomas-stats {
  font-family: 'flange_bqbold';
  color: rgb(239, 12, 37);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-color: rgba(255, 255, 255, .9);
  border: 4px solid rgb(27, 164, 227);
}

.thomas-font {
  font-size: 1.5em;
  font-family: 'flange_bqbold';
  color: rgb(239, 12, 37);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.thomas-again {
  font-family: 'flange_bqbold';
  color: rgb(239, 12, 37);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  width: 100%;
  text-align: left;
  font-size: 4rem;
  min-height: 0;
}

.thomas-back {
  background-image: url('assets/images/thomas-back.png');
  background-size: contain;
  background-position: center;
  background-color:rgb(11, 116, 181);
  border: 2px solid black;
}

#toThomas {
  background-image: url('assets/images/thomas.png');
  background-color: rgba(129, 194, 250, 0.9)
}

.thomas {
  background-image: url('assets/images/thomas.png');
  background-color: rgba(129, 194, 250, 0.9);
}

.thomas-gif {
  background-image: url('assets/images/thomas-choo-choo.gif');
}

/* Dinosaur Theme */
.dino-bg {
  background: url('assets/images/dino-background.jpg');
}

.dino-title {
  font-family: prehistoric_cavemanregular;
  color: rgb(239, 137, 12);
  font-size: 5rem;
  text-shadow: -4px 0 rgb(19, 130, 32), 0 4px rgb(19, 130, 32), 4px 0 rgb(19, 130, 32), 0 -4px rgb(19, 130, 32);
}

.dino-img {
  background-image: url('assets/images/dino.png');
  background-position: center;
}

.dino-stats {
  font-family: prehistoric_cavemanregular;
  text-transform: uppercase;
  color: rgb(239, 137, 12);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-color: rgba(19, 130, 32, 0.6);
  border: 4px solid rgb(239, 137, 12);
}

.dino-font {
  font-family: prehistoric_cavemanregular;
  font-size: 1em;
  color: rgb(239, 137, 12);
  text-shadow: -4px 0 rgb(19, 130, 32), 0 4px rgb(19, 130, 32), 4px 0 rgb(19, 130, 32), 0 -4px rgb(19, 130, 32)
}

.dino-again {
  font-family: prehistoric_cavemanregular;
  color: rgb(239, 137, 12);
  text-shadow: -4px 0 rgb(19, 130, 32), 0 4px rgb(19, 130, 32), 4px 0 rgb(19, 130, 32), 0 -4px rgb(19, 130, 32);
  width: 100%;
  text-align: left;
  font-size: 3rem;
  min-height: 0;
}

.dino-back {
  background-image: url('assets/images/dino-back.png');
  background-size: contain;
  background-position: center;
  background-color:#639A67;
  border: 2px solid rgb(239, 137, 12);
}

#toDino {
  background-image: url('assets/images/dino-back.png');
  background-color: rgba(19, 130, 32, .9)
}

.dino {
  background-image: url('assets/images/dino-back.png');
  background-color: rgba(19, 130, 32, .9);
}

.dino-gif {
  background-image: url('assets/images/rex-dance.gif');
}

/* Pokemon theme */

.pokemon-bg {
  background: url('assets/images/pokemon-background.png');
}

.pokemon-title {
  font-family: pokemon_solidnormal;
  color: rgb(255, 196, 48);
  text-shadow: -4px 0 rgb(41, 82, 156), 0 4px rgb(41, 82, 156), 4px 0 rgb(41, 82, 156), 0 -4px rgb(41, 82, 156);
}

.pokemon-again {
  font-family: pokemon_solidnormal;
  color: rgb(255, 196, 48);
  text-shadow: -4px 0 rgb(41, 82, 156), 0 4px rgb(41, 82, 156), 4px 0 rgb(41, 82, 156), 0 -4px rgb(41, 82, 156);
  width: 100%;
  text-align: left;
  font-size: 4rem;
  min-height: 0;
}

.pokemon-img {
  background-image: url('assets/images/pikachu.png');
}

#toPokemon {
  background-image: url('assets/images/pokeball.png');
}

.pokemon-stats {
  font-family: 'pokemon_solidnormal';
  color: rgb(255, 196, 48);
  text-shadow: -3px 0 rgb(41, 82, 156), 0 3px rgb(41, 82, 156), 3px 0 rgb(41, 82, 156), 0 -3px rgb(41, 82, 156);
  background-color: rgba(101, 226, 240, .8);
}

.pokemon-font {
  font-size: 1.5em;
  font-family: 'pokemon_solidnormal';
  color:rgb(255, 196, 48);
  text-shadow: -4px 0 rgb(41, 82, 156), 0 4px rgb(41, 82, 156), 4px 0 rgb(41, 82, 156), 0 -4px rgb(41, 82, 156);
}

.pokemon-back {
  background-image: url('assets/images/pokemoncard.jpg');
  background-size: cover;
  background-color: white;
  border: 2px solid black;
}

.pokemon {
  background-image: url('assets/images/pokeball.png');
  background-color: none;
}

.pokemon-gif {
  background-image: url('assets/images/squirtle-strut.gif');
}

/* General CSS */

.show {
  opacity: 1;
  transition: opacity 10000ms;
}

.hiddenFade {
  opacity: 0;
  transition: opacity 1000ms;
}

#win-gif {
  height: 500px;
  width: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.play-again-container {
  position: fixed;
  left: 0;
  height: 50%;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  top: 50%;
  z-index: 3;
  padding-left: 2%;
}

.you-win {
  position: fixed;
  z-index: 1;
  height: 50%;
  width: 100%;
  top: 25%;
  left: 0;
  right: 0;
  background-color: none;
  border-radius: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.click-below {
  width: 100%;
}

.theme-changer {
  position: fixed;
  z-index: 1;
  height: 35px;
  width: 135px;
  top: 0;
  left: 25px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.start-screen {
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: url('assets/images/chalkboard.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.welcome, .welcome-sub {
  font-family: pwchalkmedium;
  color: white;
  font-weight: lighter;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

.theme-container {
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: center;
}

body {
  height: 97vh;
  min-width: 1024px;
}

.container {
  width: 100%;
  max-width: 1500px;
  margin: auto;
  height: 100%;
}

.row-1, .row-2 {
  width: 100%;
  display: flex;
  margin-bottom: .5rem;
}

.row-1 {
  height: 15%;
}

.row-2 {
  height: 85%;
}

.col-1 {
  width: 8%;
}

.col-2 {
  width: 16%;
}

.col-3 {
  width: 24%;
}

.col-4 {
  width: 32%;
}

.col-5 {
  width: 40%;
}

.col-6 {
  width: 48%;
}

.col-7 {
  width: 56%;
}

.col-8 {
  width: 64%;
}

.col-9 {
  width: 72%;
}

.col-10 {
  width: 80%;
}

.col-11 {
  width: 88%;
}

.col-12 {
  width: 96%;
}

.card {
  height: 30%;
  position: relative;
}

.card:hover {
  transform: translate(2px, 2px);
}

main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.misc-img {
  height: 35%;
  margin-top: 4%;
  background-size: contain;
  background-repeat: no-repeat;
}

.stats {
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  border-radius: 6px;
}

h2 {
  font-weight: 100;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 6rem;
  line-height: 0;
}

.card-front, .card-back {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  border-radius: 6px;
}
.card-front {
  background-size: cover;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, .4);
}

/* .css-logo {
  background-image: url('assets/images/css-logo.png');
}

.docker-logo {
  background-image: url('assets/images/docker-logo.jpg');
}

.gitHub-logo {
  background-image: url('assets/images/gitHub-logo.png');
}

.html-logo {
  background-image: url('assets/images/html-logo.png');
}

.js-logo {
  background-image: url('assets/images/js-logo.png');
}

.mysql-logo {
  background-image: url('assets/images/mysql-logo.jpg');
}

.node-logo {
  background-image: url('assets/images/node-logo.png');
}

.php-logo {
  background-image: url('assets/images/php-logo.jpeg');
}

.react-logo {
  background-image: url('assets/images/react-logo.png');
} */

.backpack {
  background-image: url('assets/images/backpack.png');
}

.books {
  background-image: url('assets/images/books.png');
}

.backpack_books {
  background-image: url('assets/images/backpack_books.png');
}

.baseball {
  background-image: url('assets/images/baseball.png');
}

.bat {
  background-image: url('assets/images/bat.png');
}

.baseball_bat {
  background-image: url('assets/images/baseball_bat.png');
}

.burger {
  background-image: url('assets/images/burger.png');
}

.glasses {
  background-image: url('assets/images/glasses.png');
}

.eyes {
  background-image: url('assets/images/eyes.png');
}

.eyes_glasses {
  background-image: url('assets/images/eyes_glasses.png');
}

.fries {
  background-image: url('assets/images/fries.png');
}

.burger_fries {
  background-image: url('assets/images/burger_fries.png');
}

.cup {
  background-image: url('assets/images/cup.png');
}

.milk {
  background-image: url('assets/images/milk.png');
}

.milk_cup {
  background-image: url('assets/images/milk_cup.png');
}

.pants {
  background-image: url('assets/images/pants.png');
}

.shirt {
  background-image: url('assets/images/shirt.png');
}

.pants_shirt {
  background-image: url('assets/images/pants_shirt.png');
}

.shoes {
  background-image: url('assets/images/shoes.png');
}

.socks {
  background-image: url('assets/images/socks.png');
}

.shoes_socks {
  background-image: url('assets/images/shoes_socks.png');
}

.tv {
  background-image: url('assets/images/tv.png');
}

.remote {
  background-image: url('assets/images/remote.png');
}

.tv_remote {
  background-image: url('assets/images/tv_remote.png');
}

.paper {
  background-image: url('assets/images/paper.png')
}

.pencil {
  background-image: url('assets/images/pencil.png')
}

.paper_pencil {
  background-image: url('assets/images/paper_pencil.png');
}

.hidden {
  display: none;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1rem;
  }
}
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {
  .row-1 {
    height: fit-content;
  }
  .row-2 {
    flex-direction: column;
  }
  #stats {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
  .stats {
    padding: 3% 1%;
    border-radius: 6px;
  }
  #gameCards {
    width: 100%;
    height: 100%;
  }
  .col-custom {
    width: 32%;
    height: 17%;
    margin-top: 4px;
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  .card-front {
    background-size: contain;
    background-color: white;
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  h1 {
    font-size: 4rem;
  }
  .row-1 {
    height: fit-content;
  }
  .row-2 {
    flex-direction: column;
  }
  #stats {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
  .stats {
    padding: 3%;
    border-radius: 6px;
  }
  #gameCards {
    width: 100%;
    height: 100%;
  }
  .col-custom {
    width: 28%;
    height: 17%;
    margin-top: 4px;
  }
}
