body {
  height: 97vh;
  background: url('assets/images/lfz-background.jpg');
}
.container {
  width: 100%;
  max-width: 1500px;
  margin: auto;
  height: 100%;
}

.row-1, .row-2 {
  width: 100%;
  display: flex;
  margin-bottom: .5rem;
}

.row-1 {
  height: 15%;
}

.row-2 {
  height: 85%;
}

.col-1 {
  width: 8%;
}

.col-2 {
  width: 16%;
}

.col-3 {
  width: 24%;
}

.col-4 {
  width: 32%;
}

.col-5 {
  width: 40%;
}

.col-6 {
  width: 48%;
}

.col-7 {
  width: 56%;
}

.col-8 {
  width: 64%;
}

.col-9 {
  width: 72%;
}

.col-10 {
  width: 80%;
}

.col-11 {
  width: 88%;
}

.col-12 {
  width: 96%;
}

.card {
  height: 30%;
  position: relative;
}

main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.stats {
  background-color: skyblue;
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-weight: lighter;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 6rem;
  line-height: 0;
}

.card-front, .card-back {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.card-back {
  background-image: url('assets/images/lfz-card.jpg');
}

.css-logo {
  background-image: url('assets/images/css-logo.png');
}

.docker-logo {
  background-image: url('assets/images/docker-logo.jpg');
}

.gitHub-logo {
  background-image: url('assets/images/gitHub-logo.png');
}

.html-logo {
  background-image: url('assets/images/html-logo.png');
}

.js-logo {
  background-image: url('assets/images/js-logo.png');
}

.mysql-logo {
  background-image: url('assets/images/mysql-logo.jpg');
}

.node-logo {
  background-image: url('assets/images/node-logo.png');
}

.php-logo {
  background-image: url('assets/images/php-logo.jpeg');
}

.react-logo {
  background-image: url('assets/images/react-logo.png');
}

.hidden {
  display: none;
}
