/* Thomas Theme */

.bg {
  background: url('assets/images/hills.jpg');
}

.title {
  font-family: flange_bqbold;
  color: rgb(239, 12, 37);
  text-shadow: .08vw .05vw rgb(0, 0, 0, .5);
  font-size: 6vw;
}

.img {
  background-image: url('assets/images/thomas.png');
  background-position: center;
}

.stats {
  background-color: rgba(255, 255, 255, .9);
}

.font {
  font-size: 2vw;
  font-family: 'flange_bqbold';
  color: rgb(239, 12, 37);
  text-shadow: .04vw .025vw rgb(0, 0, 0, .5);
}

.card-back {
  background-image: url('assets/images/thomas-back.png');
  background-size: contain;
  background-position: center;
  background-color:rgb(11, 116, 181);
}

.gif {
  background-image: url('assets/images/thomas-choo-choo.gif');
}
