/* Pokemon theme */

.bg {
  background: url('../assets/images/pokemon-background.png');
}

.title {
  font-family: pokemon_solidnormal;
  font-size: 2vw;
  color: rgb(255, 196, 48);
  text-shadow:
  -0.2vw 0.1vw rgb(41, 82, 157),
  -0.2vw -0.02vw rgb(41, 82, 157),
  0.01vw 0.02vw 0.4vw rgb(41, 82, 157)
}

.img {
  background-image: url('../assets/images/pikachu.png');
}

.stats {
  background-color: rgba(101, 226, 240, .8);
}

.font {
  font-size: 1.5vw;
  font-family: 'pokemon_solidnormal';
  color:rgb(255, 196, 48);
  text-shadow:
  -0.1vw 0.1vw rgb(41, 82, 157),
  -0.1vw -0.02vw rgb(41, 82, 157),
  0.01vw 0.02vw 0.3vw rgb(41, 82, 157);
}

.card-back {
  background-image: url('../assets/images/pokeball.png');
  background-size: 60%;
  background-color: rgba(255, 255, 255, 1);
}

.gif {
  background-image: url('../assets/images/squirtle-strut.gif');
}
